.box2{
	height:70%;
	width:100vw;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.box2 .slider{
	height:85%;
	width:80%;
	border:4px solid #ef4238;
	border-radius:5px;
	background-color:teal;
}
.box2 #prew{
	background:#ef4238;
	color:white;
	border:none;
	position:absolute;
	top:45%;
	left:12.1%;
	font-size:1.25em;
	cursor: pointer;
}
.box2 #nxt{
	background:#ef4238;
	color:white;
	border:none;
	position:absolute;
	top:45%;
	left:91.5%;
	font-size:1.25em;
	cursor: pointer;
}
.box2 .slider img{
	height:100%;
	width:100%;
}

.slide-bottom{
	height:2%;
	width:70.5%;
	background-color:lightgrey;
}